@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Arabic:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
        @apply font-noto font-medium text-lg md:text-xl lg:text-2xl;
    }
    
h2 {
        @apply font-amiri font-bold text-xl md:text-xl lg:text-3xl;
}

h3 {
        @apply font-amiri font-bold text-lg md:text-xl lg:text-2xl;
}

p .large {
        @apply font-noto text-sm md:text-base lg:text-xl ;
}

p .medium{
        @apply font-noto text-sm md:text-base lg:text-base ;
}

p .small{
        @apply font-noto text-[10px] md:text-xs lg:text-xs ;
}

.swiper-slide{
        width: fit-content !important;
        height: fit-content !important;
}

.darker{
        filter: invert(50%) sepia(74%) saturate(331%) hue-rotate(25deg) brightness(90%) contrast(90%);
}

.olive-dark{
        filter: brightness(0) saturate(100%) invert(35%) sepia(28%) saturate(430%) hue-rotate(36deg) brightness(97%) contrast(95%)
}

.white-bg{
        filter: brightness(0) saturate(100%) invert(99%) sepia(79%) saturate(324%) hue-rotate(300deg) brightness(103%) contrast(108%)
}

.bg-frame {
        background-image: url('/frame.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      
      
.custom-pagination-bullet{
        width: 30px !important;
        height: 20px;
        background-color: #434B2F !important; 
        margin: 0 8px;
        border-radius: 10px !important; 
      }

.swiper-pagination-bullet-active {
        width: 38px !important;
        border-radius: 10px !important;
        transition: width 0.3s ease, border-radius 0.3s ease !important;
}
.swiper{
        overflow: visible !important;
}
.swiper-pagination {
        bottom: -40px !important;
}

/* .swiper-slide-next{
       rotate: 30deg !important;
}
.swiper-slide-prev{
        rotate: -30deg !important;
 } */